@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
  
}

* { box-sizing: border-box; background: #2D3A3A}