/* This main css file contains the default rules and is geared toward the small/phone view */

/* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 18px;
  /* Declare the base font-family - from google font api or other */
}
@media only screen and (min-width: 37.5em){
    
}

header, nav, main, footer {  
    text-align: center;
    color: #FCFFFC;
    max-width: 80rem
    /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    background-color: #040F0F;
    margin: .5rem auto;
    padding: .10rem;
    
}
header h1 {background-color: #040F0F; }
header img {
    float : left;
    width:15%;
    height: auto;
    margin: 1rem 1rem;
    
}
header .subheading {
    background-color: #040F0F;
}
nav {
    padding: .25em .5em;
    background: #248232;
    margin: .4rem auto;
}
nav button {}
nav ul {
    margin 0;
    padding:  auto;
    background: #248232;
}
nav ul li {  
    display:inline-block;
    margin-left: 4em;
    
    }
nav ul li a {
    color: #fff;
    text-decoration: none;
    background: #248232;
}
nav ul li.active a { background-color: #2D3A3A; }
nav ul li a:hover {background-color: #2BA84A;}

main { 
    text-align: left;
    color: #FCFFFC;
    margin: .4rem auto;
}
main h2 {}
main figure { margin: 0 0 .0rem 0%; width:100%; }

main figure img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 80rem; 
    height: 30rem;
     
}

section {}

article p.town-article img { float: right;/* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 50%; /* fill the page in the small/phone view */
  margin: ???;
}

footer {
    background-color: #040F0F;
    margin: .4rem auto
    
   }
footer aside {
    background-color: #040F0F;
    margin: .4rem auto;
    padding: .5rem;
}
footer>p, span {
    background-color: #040F0F;
    margin: .4rem auto;
    padding: .4rem;
  } 

/* This structure refers to p elements that are direct children of the footer element */


/* child selectors */
