/* This main css file contains the default rules and is geared toward the small/phone view */

/* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 18px;
  /* Declare the base font-family - from google font api or other */
}
@media only screen and (min-width: 37.5em){
    
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
background-color: #040F0F;
margin: 1.5rem auto;
padding: .9rem;
max-width: 40rem}
header h1 {}
header img {float : left; }
header .subheading {}
/* header, footer, footer a {
    text-align: center;
    background-color: #4169E1;
    color: whitesmoke;
}

header img {
    width:15%;
    height: auto;
    float: right;*/
nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: ???; /* fill the page in the small/phone view */
  margin: ???;
}

footer {}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */