* { 
  box-sizing: border-box;
  padding: 0rem; 0rem; 0rem;
  margin: 0;
}

h1, h2 {
  background-color:#040F0F;
  color: #FCFFFC;

}

h1 {
  font-weight: normal;
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
text-align: 
  font-size: 14px;
  background-color:#2D3A3A;
  color: #FCFFFC;
}

p {
  font-weight: normal;
  font-size: 5px;
  background-color: #FFF;
  color:#FCFFFC;
}

body {
  font-family: 'Spectral SC', serif;
  font-size: 14px;
  color: #FCFFFC;
  
}

header, nav, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1600px;
 font-size: 14px;
}

main { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1300px;
 font-size: 14px;
}

.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;
}

.header-container {
  display: flex;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  background: #040F0F;
}
.header-container img {
	width: 100%

}
.title {
  margin: 0;
  font-size: 16px;
}
.subtitle {
  margin: 0;
  font-family: 'Spectral SC', serif;
  font-size: 14px;
background-color:#040F0F;
}

nav {
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: column;
  background-color: #248232;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 1em;
  background-color: #248232;
  text-align: left;
  border: none;
}

nav ul {
  list-style-type: none;
  background-color: #248232;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #248232;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li.active a {
  background-color:#040F0F;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul.hide {
  display: none;
}

.weather-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-image {
  padding-top: 5px;
  width: 100%;
}

.main-image img {
  width: 100%;
  margin: auto;
}

.weather-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.main-title {
  font-size: 1em;
  width: 100%;
  text-align: center;
  padding-top: 5px;
	background-color: #2D3A3A;
}

.weather-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weather-desc {
  font-family: 'Spectral SC', serif;
  font-size: 1em;
  text-align: right;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.temperature {
  width: 100%;
  text-align: center;
}

.precip-wind {
  width: 100%;
  text-align: center;
}

.weather-data {
  display: block;
}

.forecast {
  display: none;
  margin-top: 5px;
background-color: #2D3A3A;
}

.forecast h3 {
  border: 1px transparent;
  text-align: center;
  border-width: 1px;
  font-size: 14px;
  margin: 0;
  padding: 0.5em;
  
}

.forecast table {
  border: 1px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
 
}

.forecast table th, .forecast table td {
  border: 1px transparent;
  border-collapse: collapse;
  padding: 4px;
  background-color:  #2D3A3A;
}

article {
  display: flex;
   flex-wrap: nowrap;
  justify-content:space-between;
  border: 1px solid;
  margin-top: 0.5em;
  padding: 1em;
}

article h3 {
  text-align: center;
  font-size: 14px;
  margin: 0 5px 15px 5px;
  width: 100%;
}

.article-image {
  width: 100%;
}

.article-image img {
  width: 100%;
	height: auto;
  margin: auto;
}

article p {
  width: 100%;
font-size: 14px;
  margin-bottom: 0;
 background: #2D3A3A;

}


footer .footer-bar {
  margin-top: 0.4em;
  text-align: center;
  font-size: 14px;
	height: 80px;}

.footer-bar{
	display: flex;
	justify-content: center;
   align-items: center;
}

footer aside .footer-bar{
  background-color: #040F0F;
  padding: 0.5em;
  color: lightgray;
 
}
footer aside span {
  font-weight: normal;
  background-color:#040F0F;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color:#040F0F;
  color: lightgray;
}

.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 10px 10px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}

form#stormcenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 1em;
}

fieldset {
  background-color: #2D3A3A;
  margin: 1.5em 0;
  border: #248232 solid 1px;
  box-shadow: 5px 5px 20px #040F0F;
  width: 100%;
}

legend {
  color: #FCFFFC;
  margin-left: 6%;
  padding: 0.5em;
  border: #248232 solid 0px;
  background-color: #040F0F;
  border-radius: 1px;
}

legend span {
	background: #040F0F;
}

label, .dangerlevel, .stormseverity {
  display: block;
  margin: 0.5em;
}

label span,
.dangerlevel span,
.stormseverity span {
  display: block;
  font-size: 0.9em;
  color: #FCFFFC;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea,
.stormseverity div,
.dangerlevel div {
  background-color:#FCFFFC;
  color: #040F0F;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  border: solid 1px #248232;
  border-radius: 1px;
  font-size: 1em;
  width: 100%;
  max-width: 500px;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px
}

.dangerlevel div {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 2em;
}

.dangerlevel label {
  display: flex;
  align-items: center;
  max-width: 120px;
  padding: 0;
  margin: 0;
	background: black;
}

.dangerlevel input, .dangerlevel label span {
  display: inline;
	background: black;
}

.dangerlevel label span {
  padding: 0 2em 0 0;
}

.dangerlevel input {
  width: 1.1em;
}

label textarea {
  padding-left: .3em;
  background: #FCFFFC;
  background-image: none;
  height: auto;
}

.stormseverity div {
  display: flex;
  align-items: center;
}

.stormseverity input {
  width: 90%;
}

.stormseverity div span {
  width: 10%;
  text-align: center;
  padding: 0;
}

input.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #FCFFFC;
  border: solid 1px #111;
  border-radius: 7px;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: 1.1em;
  padding: .6em;
  background: #248232; /* Old browsers */
  box-shadow: 4px 4px 10px  #040F0F;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required {
  background-position: 4px -61px;
}

input:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}