
   @media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	      	
	 .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

     
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 250px; height: auto;}
 
	
header img  {display: none;}

section.forecast { display: none; }
figure .responsive {display: none;
}
	   
picture { float : center; width:70px; height: auto;  
    }

	   .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-grid img:hover {
    box-shadow: 5px 5px 10px gray;
  }
    
	
}

   

