* { 
  box-sizing: border-box;
  padding: 0rem; 0rem; 0rem;
  margin: 0;
}

h1, h2 {
  background-color:#040F0F;
  color: #FCFFFC;

}

h1 {
  font-weight: normal;
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  background-color:#2D3A3A;
  color: #FCFFFC;
}

p {
  font-weight: normal;
  font-size: 14px;
  background-color: :#2D3A3A;
  color:#FCFFFC;
}

body {
  font-family: 'Spectral SC', serif;
  font-size: 14px;
  color: #FCFFFC;
  
}

header, nav, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1600px;
 font-size: 14px;
}

main { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1300px;
 font-size: 14px;
}

.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  background: #040F0F;
}
.header-container img {
	width: 100%

}
.title {
margin: 0;
font-size: 30px;
background-color:#040f0f;
}
.subtitle {
  margin: 0;
 font-size: 14px;
background:#040f0f;
}

nav {
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color: #248232;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 1em;
  background-color: #248232;
  text-align: left;
  border: none;
}

nav ul {
  list-style-type: none;
  background-color: #248232;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1em;
  margin: 0;
  padding: 0;
  background-color: #248232;
}

nav ul li a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 12px;
  border-top: 1px  #248232;;
}

nav ul li.active a {
  background-color:#040F0F;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul.hide {
  display: none;
}

.weather-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-image {
  padding-top: 5px;
  width: 100%;
}

.main-image img {
  width: 100%;
  margin: auto;
}

.weather-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.main-title {
  align-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color:  grey;
}

.weather-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weather-desc {
  
  font-size: 1.5em;
  text-align: right;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.temperature {
  width: 100%;
  text-align: center;
}

.precip-wind {
  width: 100%;
  text-align: center;
}

.weather-data {
  display: block;
}

.forecast {
  display: none;
  margin-top: 5px;
}

.forecast h3 {
  border-style: solid solid none solid;
  border-color: grey;
  text-align: center;
  border-width: 1px;
  font-size: 14px;
  margin: 0;
  padding: 0.5em;
  background-color: darkgrey;
}

.forecast table {
  border: 1px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.forecast table th, .forecast table td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
  background-color: grey;
  border-color: grey;
}

article {
  display: flex;
  flex-flow: row wrap;
  border: 0px solid;
  margin-top: 0.5em;
  padding: 1em;
  background-color:#2D3A3A;
}

article h3 {
  text-align: center;
  font-size: 14px;
  margin: 0 5px 15px 5px;
  width: 100%;
}

.article-image {
  width: 100%;
}

.article-image img {
  width: 100%;
  margin: auto;
}

article p {
  width: 100%;
  margin-bottom: 0;
}


footer .footer-bar {
  margin-top: 0.4em;
  text-align: center;
  font-size: 14px;
	height: 80px;}

.footer-bar{
	display: flex;
	justify-content: center;
   align-items: center;
}

footer aside .footer-bar{
  background-color: #040F0F;
  padding: 0.5em;
  color: lightgray;
 
}
footer aside span {
  font-weight: normal;
  background-color:#040F0F;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color:#040F0F;
  color: lightgray;
}

.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 30px 30px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}

section, div {}

.form  { 
}

#aNum {border:1px solid #bbeedd; text-align:center;

font-size: 14px;
  background-color:#2D3A3A;
  color: #FCFFFC;}
