*{

padding:.001rem; 0rem; 1rem;
}

body {
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  color: #FCFFFC;
      /* Declare the base font-family - from google font api or other */
}

header, main, footer {  
    text-align: center;
    font-size: 14px;
    color: #FCFFFC;
    }
    


    /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */


header {
    background-color: #040F0F;
    height: 90px;

    
}
header h1 {background-color: #040F0F; }
header img {
	float: left;
	margin: .5rem .5rem 0 .5rem;
    width:100px;
    height: auto;
   
    
}
header .subheading {display: block;
    background-color: #040F0F;
}
.topnav {
  overflow: hidden;
  background-color: #248232;
  }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #4CAF50;
  color: #FCFFFC;
}

.active {
  background-color: #040F0F;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

main { 
    text-align: left;
    color: #FCFFFC;
	margin-left:1rem;
	margin-right:1rem;
 
}
main h2 { text-align: left}


figure .responsive {
    width:100%;
    height: auto;
	margin-left:0rem;
	margin-right:0rem;
}
 .town-article img {
    float: right;
    width:250px; 
    height: auto;
}
article { 
    text-align: left;
    font-size: 14px;}

/* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
 /* fill the page in the small/phone view */

footer {
    background-color: #040F0F;
    margin: .4rem auto;
    padding: .4rem;
    
   }
footer aside {
    background-color: #040F0F;
    margin: .4rem auto;
    padding: .5rem;
    font-size: 15px;
}
footer p, span {
    background-color: #040F0F;
    margin: .4rem ;
   
    font-size: 15px;
  } 
picture {
	float: center;
        width:100px;
        height: auto;  
    }
.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 10px 10px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}
