@media screen and (min-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
	
	
	article p.town-article img { 
      float : right;
      width: 250px;
      height: auto;
       /* responsive images */
}
    picture {
        float : center;
        width:100px;
        height: auto;  
    }
	
	.gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

}