/*
   Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
   
  /* hamburger button does not need to be shown */

  

  /* show the 10-day forecast with the medium view and up */
  
  
    

	



@media screen and (min-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
	
	
	article p.town-article img { 
      float : right;
      width: 250px;
      height: auto;
       /* responsive images */
}
    picture {
        float : center;
        width:100px;
        height: auto;  
    }

}