/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Verdana, sans-serif;
    color: #2E2E2E;
}

h1 {
    font-size: 1.15rem;
    color: #F5F5F5
}

h2 {
    font-size:1.0rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.5rem auto;
    padding: .9rem;
    max-width: 40rem;
}

header, footer, footer a {
    text-align: center;
    background-color: #4169E1;
    color: whitesmoke;
}

header img {
    width:15%;
    height: auto;
    float: right;
}

footer {
    font-size: .70rem;
}
                    