html {
line-height : 1.15;
}
body {
margin : 0;
}
article, aside, footer, header, nav, section {
display : block;
}
h1 {
font-size : 2em;
margin : 0.67em 0;
}
figcaption, figure, main {
display : block;
}
figure {
margin : 1em 40px;
}
hr {
box-sizing : content-box;
height : 0;
overflow : visible;
}
pre {
font-family : monospace, monospace;
font-size : 1em;
}
a {
background-color : transparent;
}
abbr[title] {
border-bottom : none;
text-decoration : underline;
text-decoration : underline dotted;
}
b, strong {
font-weight : inherit;
}
b, strong {
font-weight : bolder;
}
code, kbd, samp {
font-family : monospace, monospace;
font-size : 1em;
}
dfn {
font-style : italic;
}
mark {
background-color : #ff0;
color : #000;
}
small {
font-size : 80%;
}
sub, sup {
font-size : 75%;
line-height : 0;
position : relative;
vertical-align : baseline;
}
sub {
bottom : -0.25em;
}
sup {
top : -0.5em;
}
audio, video {
display : inline-block;
}
audio:not([controls]) {
display : none;
height : 0;
}
img {
border-style : none;
}
svg:not(:root) {
overflow : hidden;
}
button, input, optgroup, select, textarea {
font-family : sans-serif;
font-size : 100%;
line-height : 1.15;
margin : 0;
}
button, input {
overflow : visible;
}
button, select {
text-transform : none;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
border-style : none;
padding : 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
outline : 1px dotted ButtonText;
}
fieldset {
padding : 0.35em 0.75em 0.625em;
}
legend {
box-sizing : border-box;
color : inherit;
display : table;
max-width : 100%;
padding : 0;
white-space : normal;
}
progress {
display : inline-block;
vertical-align : baseline;
}
textarea {
overflow : auto;
}
[type="checkbox"], [type="radio"] {
box-sizing : border-box;
padding : 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
height : auto;
}
[type="search"] {
outline-offset : -2px;
}
::-webkit-file-upload-button {
font : inherit;
}
details, menu {
display : block;
}
summary {
display : list-item;
}
canvas {
display : inline-block;
}
template {
display : none;
}
[hidden] {
display : none;
}
* {
box-sizing : border-box;
}
.logoheader img {
float : left;
margin-left : 20px;
width : 135px;
height : 135px;
}
.logoheader h1 {
position : relative;
top : 18px;
left : 1px;
}
body {
background-color : #fff;
}
header {
background-color : #2b7cff;
color : #fff;
text-shadow : 1.5px 1.5px 2.5px #000000;
padding : 5px;
}
h1 {
font-family : 'Merriweather Sans', sans-serif;
font-size : 38px;
margin-left : 170px;
}
.slogan {
font-family : 'Merriweather Sans', sans-serif;
padding : 2px;
margin-left : 170px;
}
nav ul {
display : flex;
flex-wrap : wrap;
}
nav ul.show {
display : flex;
}
nav ul.hide {
display : none;
}
nav ul li {
list-style : none;
flex-basis : 100%;
}
.navigation {
background-color : #143e7f;
margin : 0;
padding : 0;
}
nav button {
position : absolute;
top : 0.5rem;
right : 2%;
}
.navigation li a {
font-family : 'Merriweather', serif;
text-align : center;
text-shadow : 0.5px 0.5px 1.5px #000000;
font-size : x-large;
display : block;
color : #fff;
padding : 0.5rem 0;
text-decoration : none;
}
.navigation li a:hover {
background-color : #b2cfff;
color : #143e7f;
}
.navigation li a.active {
background-color : #2b7cff;
color : #B2CFFF;
}
.weathernow {
font-family : 'Merriweather Sans', sans-serif;
color : #2b7cff;
text-shadow : 0.5px 0.5px 1.5px #000000;
margin-top : 30px;
margin-left : 30px;
}
.GalleryHeadline {
font-family : 'Merriweather Sans', sans-serif;
color : #2b7cff;
font-size : xx-large;
text-shadow : 0.5px 0.5px 1.5px #000000;
margin-top : 35px;
margin-left : 35px;
margin-bottom : 5px;
}
h2.homepagestory {
font-family : 'Merriweather Sans', sans-serif;
color : #2b7cff;
font-size : xx-large;
text-shadow : 0.5px 0.5px 1.5px #000000;
margin-top : 30px;
margin-left : 5px;
margin-bottom : 20px;
}
.franklin {
font-family : 'Merriweather', serif;
margin-left : 20px;
}
.franklin b {
font-family : 'Merriweather', serif;
color : #2061cc;
}
.Springfield {
font-family : 'Merriweather', serif;
margin-left : 20px;
}
.Springfield b {
font-family : 'Merriweather', serif;
color : #2061cc;
}
.Greenville {
font-family : 'Merriweather', serif;
margin-left : 20px;
}
.Greenville b {
font-family : 'Merriweather', serif;
color : #2061cc;
}
.tenday {
display : none;
}
.hidesmall {
display : none;
}
.tendaybackground {
font-family : 'Merriweather Sans', sans-serif;
background-color : #143e7f;
text-shadow : 0.5px 0.5px 1px #000000;
color : #fff;
}
th {
padding : 5px 5px 3px 3px;
text-shadow : 0.25px 0.25px 0.75px #000000;
}
td {
text-align : center;
text-shadow : 0.25px 0.25px 0.75px #000000;
}
.tenday {
font-family : 'Merriweather Sans', sans-serif;
color : #2b7cff;
text-shadow : 0.5px 0.5px 1.5px #000000;
margin-top : 30px;
margin-left : 30px;
margin-bottom : 5px;
}
main div.photoFullWidth {
margin : 0;
margin-left : 2%;
width : 96%;
}
main div.photoFullWidth img {
width : 100%;
}
div.weatherGallery {
padding : 0 2%;
display : grid;
grid-template-columns : repeat(1,100%);
}
div.weatherGallery figure {
margin : 2rem 0;
border : #aaa solid 1px;
}
div.weatherGallery figure img {
width : 100%;
}
div.weatherGallery figure figcaption {
text-align : center;
font-size : 0.9rem;
}
section {
align-items : center;
display : flex;
flex-direction : column;
}
.citygrid {
display : grid;
grid-template-columns : 4fr 4fr 4fr;
grid-gap : 20px;
}
main .citygrid {
padding : 0 2%;
display : grid;
grid-template-columns : repeat(1,100%);
}
.citygrid h2 {
margin-top : 3px;
margin-bottom : 5px;
margin-left : 3%;
}
div.weatherGallery figure:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
div.citygrid div:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
div.citygrid div {
margin : 2rem 0;
border : #aaa solid 1px;
}
div.citygrid div img {
width : 100%;
}
.population1 {
text-align : inherit;
margin-top : 0;
margin-bottom : 5px;
margin-left : 15px;
font-size : 1.15rem;
}
.population {
text-align : inherit;
margin-top : 1px;
margin-left : 15px;
font-size : 1.15rem;
}
body.scbackground {
background-image : url(stormcenterBG1200.jpg);
}
.bosc {
font-family : 'Merriweather Sans', sans-serif;
color : #2b7cff;
font-size : xx-large;
text-shadow : 0.5px 0.5px 1.5px #000000;
margin-top : 35px;
margin-left : 40px;
margin-bottom : 5px;
}
form#stormdata {
margin : 1em 3%;
}
fieldset {
background-color : white;
margin : 1.5em 0;
border : #B2CFFF solid 3px;
}
legend {
font-family : 'Merriweather', serif;
margin-left : 3%;
padding : 0.5em;
border : #B2CFFF solid 2px;
color : white;
background-color : #143E7F;
font-size : 1em;
}
label {
display : block;
margin : 0.5em;
}
label span {
display : block;
font-size : 1.25em;
padding-top : 0.5em;
padding-bottom : 0.3em;
color : #143E7F;
}
.stdate {
margin-bottom : 0.1em;
}
.info {
margin-left : 0.7em;
}
.stinfo {
font-family : 'Merriweather', serif;
color : #143E7F;
margin-left : 0.7em;
margin-bottom : 0.5em;
}
input.submitBtn {
border : #B2CFFF solid 1px;
width : 35%;
margin : 0.5em 0;
font-family : 'Merriweather', serif;
font-size : 1.33em;
text-shadow : 0.5px 0.5px 1px #000000;
padding : 0.6em;
background : #2061CC;
box-shadow : 3px 3px 9px #3A557F;
color : white;
}
input.submitBtn:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
main p.appreciate {
font-family : 'Merriweather', serif;
font-weight : 800;
margin-top : 2em;
margin-left : 2.5em;
}
footer {
font-family : 'Merriweather', serif;
font-size : small;
padding-top : 8px;
background-color : #2b7cff;
color : #fff;
}
.datestamp {
text-align : center;
padding-bottom : 8px;
}
#demo {
text-align : center;
}
.contact {
text-align : center;
margin : 0 15px;
}
.author {
text-align : center;
margin : 3px;
}
.terms {
color : #000;
}
@media only screen and (min-width:37.5em) {
nav ul {
flex-wrap : nowrap;
}
nav ul.hide {
display : flex;
}
nav button {
display : none;
}
nav ul.hide {
display : block;
}
.navigation {
margin-left : -18px;
padding : 0;
overflow : hidden;
background-color : #143e7f;
}
.navigation li {
float : left;
}
.navigation li a {
color : white;
font-size : 23px;
padding : 13px 13px;
text-decoration : none;
}
.navigation li a:hover {
background-color : #b2cfff;
color : #143e7f;
}
.tenday {
display : block;
}
.hidesmall {
display : block;
margin-left : 28px;
}
.hidesmall td {
font-family : 'Merriweather', serif;
color : #143e7f;
}
div.weatherGallery {
grid-template-columns : repeat(2,49%);
grid-gap : 2%;
}
div.weatherGallery figure:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
div.citygrid {
grid-template-columns : repeat(2,49%);
grid-gap : 2%;
}
div.citygrid figure:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
}
@media only screen and (min-width:1141px) {
header {
font-size : large;
}
nav ul li {
flex-basis : auto;
}
.navigation {
margin-left : -10px;
overflow : hidden;
background-color : #143e7f;
}
.navigation li a {
color : white;
font-size : 27px;
padding : 10px 15px 10px;
text-decoration : none;
}
.navigation li a:hover {
background-color : #b2cfff;
color : #143e7f;
}
.weathernow {
font-size : xx-large;
}
.franklin li {
font-size : x-large;
}
.Springfield li {
font-size : x-large;
}
.Greenville li {
font-size : x-large;
}
.tenday {
display : block;
font-size : xx-large;
}
.hidesmall {
display : block;
margin-left : 28px;
}
th {
font-size : x-large;
}
td {
font-size : x-large;
}
div.weatherGallery {
grid-template-columns : repeat(3,32%);
}
div.weatherGallery figure:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
div.citygrid {
grid-template-columns : repeat(3,32%);
}
div.citygrid figure:hover {
box-shadow : 3px 3px 9px rgba(0, 2, 2, 1);
}
}
@font-face {
{
font-family : "'Merriweather'";
font-style : normal;
font-weight : 400;
src : local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
}
@font-face {
{
font-family : "'Merriweather Sans'";
font-style : normal;
font-weight : 400;
src : local('Merriweather Sans'), local('MerriweatherSans-Regular'), url(https://fonts.gstatic.com/s/merriweathersans/v9/AKu1CjQ4qnV8MUltkAX3sFBI1aZvkJLeFEwcwXkBYq0.ttf) format('truetype');
}
}