* { 
  box-sizing: border-box;
  background: #daddd8;
  }

h1, h2 {
  background-color:#040F0F;
  color: #FCFFFC;

}

h1 {
  font-weight: normal;
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
   background:#4b5842;
	color: #daddd8;
}

p {
  font-weight: normal;
  font-size: 14px;
  background-color:#2D3A3A;
  color:#FCFFFC;
}

body {
  font-family: 'Poller One', cursive;
  font-size: 14px;
  color: #FCFFFC;
  
}

header, nav, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1600px;
 font-size: 14px;
}

main { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1300px;
 font-size: 14px;
}


.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: #8fb339;
}
.header-container img {
	width: 100%}

.title {
margin: 0;
font-size: 30px;
background-color:#8fb339;
}
.subtitle {
  margin: 0;
 font-size: 14px;
background:#8fb339;
}

nav {
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color:#4b5842;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 35px;
  padding: 3px 80px;
  background-color: #4b5842;
  text-align: left;
  border: none;

}

nav ul {
  list-style-type: none;
  background-color: #4b5842;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1em;
  margin: 0;
  padding: 0;
  background-color: #4b5842;
}

nav ul li a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 12px;
  border: none;
}

nav ul li.active a {
  background-color:black;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul.hide {
  display: none;
}


.main-title {
  align-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color:  grey;
}

section { font-size: 16px;
font-family: 'Comfortaa', cursive;
color: #4b5842; }

article {
  display: flex;
  flex-flow: row wrap;
  border: 0px solid;
  margin-top: 0.5em;
  padding: 1em;
  background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

article h3 {
  text-align: center;
  font-size: 18px;
  margin: 0 5px 15px 5px;
  width: 100%;
}

.article-image {
  width: 100%;
}

.article-image img {
  width: 100%;
  margin: auto;
}

.tours {
  width: 100%;
  margin-bottom: 0;
 background: #4b5842;
}

.tours table {
  width: 100%;
  border-collapse: collapse;
 
}

.tours > table td {
  border: 1px solid #c7d59f;
  text-align: left;
   color: #4b5842;
  padding: 5px;
 background: #c7d59f;
}

.tours > table tr:nth-child(even) {
  background-color: black;
}

figure {
  color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

figcaption h3 { background-color:#4b5842; }

footer .footer-bar {
  margin-top: 0.4em;
  text-align: center;
  font-size: 14px;
	height: 80px;
background-color:#4b5842;
  font-family: 'Comfortaa', cursive;}

.footer-bar{
	display: flex;
	justify-content: center;
   align-items: center;
}

footer aside .footer-bar{
  background-color: #8fb339;
  padding: 0.5em;
  color: lightgray;
 
}
footer aside span {
  font-weight: normal;
  background-color:#8fb339;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color:#8fb339;
  color: lightgray;
}

.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 30px 30px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}
.event-intro {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  margin-bottom: 15px;
}

#gdmbr-map {
  width: 100%;
}

/* STORM CENTER FORM STUFF*/

#eventRegistration {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4b5842;
  border: #3d372d solid 1px;
  box-shadow: 5px 5px 20px #cccccc;

}

label {
  display: block;
  width: 100%;
}

label span {
  display: block;
  font-size: 15px;
  color: #daddd8;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
  background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

label input, label select,
label textarea {
  background-color: #f4f2ef;
  color: #4b5842
;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-right: -2em;
  border: solid 1px#daddd8;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  width: 100%;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  background-image: none;
  height: auto;
}

#eventRegistrationSubmit {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #fff;
  background: #4b5842;
  border-radius: 1em;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .6em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input.submitBtn:hover {
	background-color:  #8fb339;}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required, select:required {
  background-position: 4px -61px;
}

input:focus:invalid, select:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid, select:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

.event-details > table {
  width: 100%;
  border-collapse: collapse;
}

.event-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.event-details > table tr:nth-child(even) {
  background-color: #dddddd;
}



@media only screen and (min-width: 1024px) {
  .event-intro {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

table {
   
   font-family: 'Comfortaa', cursive;
    color:#4b5842;
	border-collapse: collapse;
    width: 100%;
}

table h3{ font-family: 'Comfortaa', cursive;
    background-color:#4b5842;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}