* { 
  box-sizing: border-box;
  background: #daddd8;
  }

h1, h2 {
  background-color:#040F0F;
  color: #FCFFFC;

}

h1 {
  font-weight: normal;
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  background-color:black;
  color: #FCFFFC;
}

p {
  font-weight: normal;
  font-size: 14px;
  background-color:#2D3A3A;
  color:#FCFFFC;
}

body {
  font-family: 'Poller One', cursive;
  font-size: 14px;
  color: #FCFFFC;
  
}

header, nav, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1600px;
 font-size: 14px;
}

main { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1300px;
 font-size: 14px;
}


.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: #8fb339;
}
.header-container img {
	width: 100%}

.title {
margin: 0;
font-size: 30px;
background-color:#8fb339;
}
.subtitle {
  margin: 0;
 font-size: 14px;
background:#8fb339;
}

nav {
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color:#4b5842;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 35px;
  padding: 3px 80px;
  background-color: #4b5842;
  text-align: left;
  border: none;

}

nav ul {
  list-style-type: none;
  background-color: #4b5842;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1em;
  margin: 0;
  padding: 0;
  background-color: #4b5842;
}

nav ul li a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 12px;
  border: none;
}

nav ul li.active a {
  background-color:black;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul.hide {
  display: none;
}

.weather-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 background: #daddd8;
}

.weather-data {
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  max-width: 35em;
  grid-template-columns: 1fr 2fr;
}
.weather-data div {
  outline: 1px solid;
  margin-top: 1px;
  margin-left: 1px;
  padding: 3px 0.5em 3px 0.5em;
}

.weather-data .header {
  text-align: right;
	font-weight: bold;}

.weather-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weather-desc {
  
  font-size: 1.5em;
  text-align: right;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-left: 1em;
  margin-right: 1em;
}

.weather-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5px;
}

.main-image {
  padding-top: 5px;
  width: 100%;
}

.main-image img {
  width: 100%;
  margin: auto;
}

.main-title {
  align-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color:  grey;
}


.temperature {
  width: 100%;
  text-align: center;
}

.precip-wind {
  width: 100%;
  text-align: center;
}


.forecast {
  display: none;
  margin-top: 5px;
}

.forecast h3 {
  border-style: solid solid none solid;
  border-color: grey;
  text-align: center;
  border-width: 1px;
  font-size: 14px;
  margin: 0;
  padding: 0.5em;
  background-color: darkgrey;
}

.forecast table {
  border: 1px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.forecast table th, .forecast table td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
  background-color: grey;
  border-color: grey;
}

article {
  display: flex;
  flex-flow: row wrap;
  border: 0px solid;
  margin-top: 0.5em;
  padding: 1em;
  background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

article h3 {
  text-align: center;
  font-size: 14px;
  margin: 0 5px 15px 5px;
  width: 100%;
}

.article-image {
  width: 100%;
}

.article-image img {
  width: 100%;
  margin: auto;
}

article p {
  width: 100%;
  margin-bottom: 0;
 background: #4b5842;
}


footer .footer-bar {
  margin-top: 0.4em;
  text-align: center;
  font-size: 14px;
	height: 80px;}

.footer-bar{
	display: flex;
	justify-content: center;
   align-items: center;
}

footer aside .footer-bar{
  background-color: #8fb339;
  padding: 0.5em;
  color: lightgray;
 
}
footer aside span {
  font-weight: normal;
  background-color:#8fb339;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color:#8fb339;
  color: lightgray;
}

.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 30px 30px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}

form#stormcenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 1em;
}

fieldset {
  background-color: #2D3A3A;
  margin: 1.5em 0;
  border: #248232 solid 1px;
  box-shadow: 5px 5px 20px #040F0F;
  width: 100%;
}

legend {
  color: #FCFFFC;
  margin-left: 6%;
  padding: 0.5em;
  border: #248232 solid 0px;
  background-color: #040F0F;
  border-radius: 1px;
}

legend span {
	background: #040F0F;
}

label, .dangerlevel, .stormseverity {
  display: block;
  margin: 0.5em;
}

label span,
.dangerlevel span,
.stormseverity span {
  display: block;
  font-size: 0.9em;
  color: #FCFFFC;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea,
.stormseverity div,
.dangerlevel div {
  background-color:#FCFFFC;
  color: #040F0F;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  border: solid 1px #248232;
  border-radius: 1px;
  font-size: 1em;
  width: 100%;
  max-width: 500px;
  
  background-repeat: no-repeat;
  background-position: 4px -11px
}

.dangerlevel div {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 2em;
}

.dangerlevel label {
  display: flex;
  align-items: center;
  max-width: 120px;
  padding: 0;
  margin: 0;
	background: black;
}

.dangerlevel input, .dangerlevel label span {
  display: inline;
	background: black;
}

.dangerlevel label span {
  padding: 0 2em 0 0;
}

.dangerlevel input {
  width: 1.1em;
}

label textarea {
  padding-left: .3em;
  background: #FCFFFC;
  background-image: none;
  height: auto;
}

.stormseverity div {
  display: flex;
  align-items: center;
}

.stormseverity input {
  width: 90%;
}

.stormseverity div span {
  width: 10%;
  text-align: center;
  padding: 0;
}

input.submitBtn {
  -webkit-appearance: none; 
  color: #FCFFFC;
  border: solid 1px#248232;
  border-radius: 4px;
  width: 90%;
  max-width: 300px;
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: 1.1em;
  padding: .6em;
  background: #248232;
	}

input.submitBtn:hover {
	background-color:  #2BA84A;}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required {
  background-position: 4px -61px;
}

input:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

#about div {
  width: 100%;
  margin-bottom: 0;
}

#about ul {
	margin-left: 2em;}



#about article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#about article div {
  width: 100%;
}

#about article div p {
  width: 100%;
}

#about article div img {
  width: 100%;
  padding-top: 1em;
}

#about-one ul {
  padding-left: 2em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}