* { 
  box-sizing: border-box;
 background: #daddd8;

  }
.googleMap {

}

h1, h2 {
  background-color:#040F0F;
  color: #FCFFFC;

}

h1 {
  font-weight: normal;
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
   background:#4b5842;
	color: #daddd8;
}

p {
  font-weight: normal;
  font-size: 14px;
  background-color:#2D3A3A;
  color:#FCFFFC;
}

body {
  font-family: 'Poller One', cursive;
  font-size: 14px;
  color: #FCFFFC;
  
}

header, nav, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1600px;
 font-size: 14px;
}

main { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1300px;
 font-size: 14px;
}


.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: #8fb339;
}
.header-container img {
	width: 100%}

.title {
margin: 0;
font-size: 30px;
background-color:#8fb339;
}
.subtitle {
  margin: 0;
 font-size: 14px;
background:#8fb339;
}

nav {
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color:#4b5842;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 35px;
  padding: 3px 80px;
  background-color: #4b5842;
  text-align: left;
  border: none;

}

nav ul {
  list-style-type: none;
  background-color: #4b5842;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1em;
  margin: 0;
  padding: 0;
  background-color: #4b5842;
}

nav ul li a {
  display: flex;
  text-align: center;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 12px;
  border: none;
	background-color: #4b5842;
}

nav ul li.active a {
  background-color:black;
}
nav ul li a:hover {
  background-color: #8fb339;
}

nav ul.hide {
  display: none;
}


.main-title {
  align-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color:  grey;
}

section { font-size: 16px;
font-family: 'Comfortaa', cursive;
color: #4b5842; }

article {
  display: flex;
  flex-flow: row wrap;
  border: 0px solid;
  margin-top: 0.5em;
  padding: 1em;
  background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

article h3 {
  text-align: center;
  font-size: 18px;
  margin: 0 5px 15px 5px;
  width: 100%;
}

.article-image { background-color:#4b5842;
  width: 100%;
}

.article-image img {
  width: 100%;
  margin: auto;
}

.tours img{
  background-color:#4b5842;
  width: 100%;
 
}

.tours p {
  background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
 width: 100%;
 }

.tours a { background-color:#4b5842;
  font-family: 'Comfortaa', cursive;
 width: 100%; color: white; text-align: center;} 

.tours > table td {
  border: 1px solid #c7d59f;
  text-align: left;
   color: #4b5842;
  padding: 5px;
 background: #c7d59f;
}

.tours > table tr:nth-child(even) {
  background-color: black;
}

figure {
  color:#4b5842;
  font-family: 'Comfortaa', cursive;
}

figcaption h3 { background-color:#4b5842; }

footer .footer-bar {
  margin-top: 0.4em;
  text-align: center;
  font-size: 14px;
	height: 80px;
background-color:#4b5842;
  font-family: 'Comfortaa', cursive;}

.footer-bar{
	display: flex;
	justify-content: center;
   align-items: center;
}

footer aside .footer-bar{
  background-color: #8fb339;
  padding: 0.5em;
  color: lightgray;
 
}
footer aside span {
  font-weight: normal;
  background-color:#8fb339;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color:#8fb339;
  color: lightgray;
}

.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 30px 30px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}
.event-intro {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  margin-bottom: 15px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4b5842;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

table {
   
   font-family: 'Comfortaa', cursive;
    color:#4b5842;
	border-collapse: collapse;
    width: 100%;
}

table h3{ font-family: 'Comfortaa', cursive;
    background-color:#4b5842;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

iframe {
  width: 100%;
  height: 450px;
	border: none;}

form#Contactcenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 1em;
}

fieldset {
  font-family: 'Comfortaa', cursive;
  background: #4b5842;
  margin: 1.5em 0;
  border: #4b5842 solid 1px;
  box-shadow: 5px 5px 20px #040F0F;
  width: 100%;
}

legend {
  color: #FCFFFC;
  margin-left: 6%;
  padding: 0.5em;
  border: #248232 solid 0px;
  background-color: #040F0F;
  border-radius: 1px;
}

legend span {
	background: #040F0F;
}

label, .dangerlevel, .Contactseverity {
  display: block;
  margin: 0.5em;
}

label span,
.dangerlevel span,
.Contactseverity span {
  display: block;
  font-size: 0.9em;
  color: #FCFFFC;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
background-color:#4b5842
; }

label input, label select,
label textarea,
.Contactseverity div,
.dangerlevel div {
  background-color:#FCFFFC;
  color: #040F0F;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  border: solid 1px #248232;
  border-radius: 1px;
  font-size: 1em;
  width: 100%;
  max-width: 500px;
  
  background-repeat: no-repeat;
  background-position: 4px -11px
}

.dangerlevel div {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 2em;
}

.dangerlevel label {
  display: flex;
  align-items: center;
  max-width: 120px;
  padding: 0;
  margin: 0;
	background: black;
}

.dangerlevel input, .dangerlevel label span {
  display: inline;
	background: black;
}

.dangerlevel label span {
  padding: 0 2em 0 0;
}

.dangerlevel input {
  width: 1.1em;
}

label textarea {
  padding-left: .3em;
  background: #FCFFFC;
  background-image: none;
  height: auto;
}

.Contactseverity div {
  display: flex;
  align-items: center;
}

.Contactseverity input {
  width: 90%;
}

.Contactseverity div span {
  width: 10%;
  text-align: center;
  padding: 0;
}

input.submitBtn {
  -webkit-appearance: none; 
  color: #FCFFFC;
  border: none;
  border-radius: 4px;
  width: 90%;
  max-width: 300px;
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: 1.1em;
  padding: .6em;
  background: #4b5842;
  font-family: 'Comfortaa', cursive;
	}

input.submitBtn:hover {
	background-color:  #8fb339;}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required {
  background-position: 4px -61px;
}

input:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}
